@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome! We're glad you're here.</h1>
    <h2>Thanks for helping us build our daily menu.</h2>
    <br />
    
    <h4>This week's cuisine is: Senegalese</h4>
</div>
