@{
    //Layout = null;
    //use shared _Layout.cshtml
}

<h2>Is your favorite missing?</h2>
<h1>Suggest a dish!</h1>

<form method="post">
    <br /><h5>Dish name:</h5>
    <input name="name" type="text" />
    <h5>Dish description:</h5>
    <input name="description" type="text" />
    <br><input type="submit" value="Add Dish" />

</form>

