@{
    //Layout = null;
    //use shared _Layout.cshtml
    //     <input name="name" type="text" />
   // <br>
    //<input type="submit" value="Remove Dish" />
}

<h2>Dislike a suggested dish?</h2>
<h1>Remove it from the menu!</h1>


<form method="post">
    <br /><h5>Delete a dish:</h5>
    <select id="dishList" name="name">
        @foreach (KeyValuePair<string, string> dish in ViewBag.dishes)
        {
            <option value=@dish.Key>@dish.Key</option>
        }
    </select>
    <input type="submit">
</form>


